/* Resume style document */
.res_table{
  width:90%;
  padding-left:10%;
  font-weight: var(--default_font_weight);
  font-family: var(--main_type);
  font-size: 14pt;
  text-align:left;
}

.res_header{
  font-family: var(--main_type);
  padding-left:10%;
  padding-top:2%;
  font-weight: var(--default_font_weight);
  font-size:22pt;
}

.leftcol{
  width: 20%;
}

.rightcol{
  width:80%;
}

.col_ralign{
  text-align:right;
}

ul{
  list-style:none;
  list-style-position:outside;
  padding: 5px 5px 5px 5px;
}

ul li{
  margin: 1em 0;
}
